/* body styles & back-ground */
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgba(73,70,79),rgba(59,54,66));
}
/* font */
@font-face {
    font-family: Vazir;
    src: url('Vazir-Regular.eot');
    src: url('Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Regular.woff2') format('woff2'),
         url('Vazir-Regular.woff') format('woff'),
         url('Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Bold.woff2') format('woff2'),
         url('Vazir-Bold.woff') format('woff'),
         url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Black.eot');
    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Black.woff2') format('woff2'),
         url('Vazir-Black.woff') format('woff'),
         url('Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Medium.eot');
    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Medium.woff2') format('woff2'),
         url('Vazir-Medium.woff') format('woff'),
         url('Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Light.eot');
    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Light.woff2') format('woff2'),
         url('Vazir-Light.woff') format('woff'),
         url('Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Thin.eot');
    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Thin.woff2') format('woff2'),
         url('Vazir-Thin.woff') format('woff'),
         url('Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*{
    font-family: 'Vazir',sans-serif;
}
/* centering image holder */
.image-container{
    display: flex;
    position: relative;
    justify-content: center;
}
/* image styles and setting image as bg */
.image-holder{
    margin-top: 6rem;
    width: 200px;
    height: 200px;
    background-color: rgba(249, 192, 23, 1);
    border-radius: 50%;
    z-index: -1;
}
.mainImage{
    width: 210px; ;
    height: 240px ;
    border-radius: 50%;
    position: absolute;
    top: 58px;
}
/* text section styles */
.textSection{
    text-align: center;
    margin-top: 70px;
}
/* texts styles */
.p1{
    color: rgba(249, 192, 23, 1);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.p2{
    color: gold;
    font-size: 12px;
    margin: 10px 0px 0px 0px;
}
/* soacial section */
.socialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.btn{
    background-color: rgba(249, 192, 23, 1);
    border: none;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
}
i{
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(249, 192, 23, 1);
    box-shadow: 10px 6px 26px 0 rgba(0, 0, 0, 0.25);
}
/* animation css */

a{
    color: rgba(52, 47, 60, 1);
}
/* Contents */
.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    gap: 2rem;
}
.topElements{
    display: flex;
    gap: 20px;
}
.bottomElements{
    display: flex;
    gap: 20px;
}
.elementCard{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.elements i{
    padding: 1.5rem;
    border-radius: 30px;
    font-size: 2.5rem;
}
.elements span{
    color: #fff;
    font-size: .75rem;
    margin-bottom: 5px;
}
/* about me */
.textArea{
    margin-top: 10rem;
    height: 100vh;
    background-color:rgba(249, 192, 23, 1);
    border-top-left-radius:113px;
    border-top-right-radius:113px;
    display: flex;
    justify-content: center;
}
.textContent{
    width: 80%;
    height: 100%;
    text-align: right;
    font-size: 12px;
    direction: rtl;
}
.textContent p{
    margin-top: 2rem;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}
.head i{
    color: #fff;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: 35px;
    margin-top: 13px;
    
}
.head span{
    color: #fff;
    font-size: 35px;
}
.head a{
}

/* gallery */
.imageContent{
    text-align: center;
    margin-top: 1rem;
    height: 100vh;
    background-color:rgba(249, 192, 23, 1);

    /* scrollable */

}
.imageBox img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.spanHolder span{
    font-weight: bold;
    font-size: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.button1{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 10px 6px 26px 0 rgba(0, 0, 0, 0.25);
}
.button2{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 10px 6px 26px 0 rgba(0, 0, 0, 0.25);
}