/* body styles & back-ground */
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgba(73,70,79),rgba(59,54,66));
}
/* font */
*{
    font-family: vazir;
}
/* centering image holder */
.image-container{
    display: flex;
    position: relative;
    justify-content: center;
}
/* image styles and setting image as bg */
.image-holder{
    margin-top: 6rem;
    width: 200px;
    height: 200px;
    background-color: rgba(249, 192, 23, 1);
    border-radius: 50%;
    z-index: -1;
}
.mainImage{
    width: 210px; ;
    height: 240px ;
    border-radius: 50%;
    position: absolute;
    top: 58px;
}
/* text section styles */
.textSection{
    text-align: center;
    margin-top: 70px;
}
/* texts styles */
.p1{
    color: rgba(249, 192, 23, 1);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.p2{
    color: gold;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}
/* soacial section */
.socialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.btn{
    background-color: rgba(249, 192, 23, 1);
    border: none;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
}
i{
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(249, 192, 23, 1);
}
/* animation css */

a{
    color: rgba(52, 47, 60, 1);
}