body{
    margin: 0;
    padding: 0;
    background-image: url('../images/Mobile-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.image-container{
    display: flex;
    justify-content: center;
}


.image-holder{
    width: 360px;
    height: 440px;
    background-image: url('../images/drAzad2.jpg');
    background-size: cover;
    border-bottom-left-radius:300px ;
    border-bottom-right-radius:300px ;
}
