/* body back-ground */
body{
    display: flex;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgba(73,70,79),rgba(59,54,66));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Regular.eot');
    src: url('Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Regular.woff2') format('woff2'),
         url('Vazir-Regular.woff') format('woff'),
         url('Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Bold.woff2') format('woff2'),
         url('Vazir-Bold.woff') format('woff'),
         url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Black.eot');
    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Black.woff2') format('woff2'),
         url('Vazir-Black.woff') format('woff'),
         url('Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Medium.eot');
    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Medium.woff2') format('woff2'),
         url('Vazir-Medium.woff') format('woff'),
         url('Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Light.eot');
    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Light.woff2') format('woff2'),
         url('Vazir-Light.woff') format('woff'),
         url('Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Thin.eot');
    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Thin.woff2') format('woff2'),
         url('Vazir-Thin.woff') format('woff'),
         url('Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*{
    font-family: 'Vazir',sans-serif;
}
/* making the left part of screen */
 .leftSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
 }
 /* placing image and making it circle using border-raduis  */
 .imageBack{
    width: 550px;
    height: 550px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.imageHolder{
    width: 450px;
    height: 450px;
    background-image: url('../images/drAzad2.jpg');
    background-size: cover;
    border-radius: 50%;
}
.rightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}
.textSection{
    text-align: center;
}
.p1{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin: 0;
}
.p2{
    font-size: 23px;
    color: gold;
    font-weight: bold;
}
.btnHolder{
    width: 51vh;
    text-align: center;
}
.btn{
    border: none;
    padding: 7px 25px 7px 25px;
    border-radius: 10px;
    background-color: gold;
    font-size: 20px;
    cursor: pointer;
}
.icons{
    margin-top: 15px;
    text-align: center;
}
i{
    background-color: gold;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
a{
    color: black;
}
/* elements */
.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    gap: 2rem;
}
.topElements{
    display: flex;
    gap: 20px;
}
.bottomElements{
    display: flex;
    gap: 20px;
}
.elementCard{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.elements i{
    padding: 1.5rem;
    border-radius: 30px;
    font-size: 2.5rem;
}
.elements span{
    color: #fff;
    font-size: .75rem;
    margin-bottom: 5px;
}
.textArea{
    margin-top: 10rem;
    height: 100vh;
    background-color:rgba(249, 192, 23, 1);
    border-top-left-radius:113px;
    border-top-right-radius:113px;
    display: flex;
    justify-content: center;
}
.textContent{
    width: 80%;
    height: 100%;
    text-align: right;
    font-size: 12px;
    direction: rtl;
}
.textContent p{
    margin-top: 2rem;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}
.head i{
    color: #fff;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: 35px;
    margin-top: 13px;
    
}
.head span{
    color: #fff;
    font-size: 35px;
}

/* gallery */
.imageContent{
    text-align: center;
    margin-top: 1rem;
    height: 100vh;
    background-color:rgba(249, 192, 23, 1);

    /* scrollable */

}
.imageBox img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.spanHolder span{
    font-weight: bold;
    font-size: 20px;
}
/* about me */
.textArea{
    margin-top: 5rem;
    height: 100vh;
    width: 100%;
    background-color:rgba(249, 192, 23, 1);
    border-top-left-radius:113px;
    border-top-right-radius:113px;
    display: flex;
    justify-content: center;
}
.textContent{
    width: 80%;
    height: 100%;
    text-align: right;
    font-size: 12px;
    direction: rtl;
}
.textContent p{
    margin-top: 2rem;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}
.head i{
    color: #fff;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: 35px;
    margin-top: 13px;
    
}
.head span{
    color: #fff;
    font-size: 35px;
}
.head a{
}

/* gallery */
.imageContent{
    text-align: center;
    margin-top: 1rem;
    height: 100vh;
    background-color:rgba(249, 192, 23, 1);

    /* scrollable */

}
.imageBox img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.spanHolder span{
    font-weight: bold;
    font-size: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.button1{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 10px 6px 26px 0 rgba(0, 0, 0, 0.25);
}
.button2{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 10px 6px 26px 0 rgba(0, 0, 0, 0.25);
}